<template>
  <require from="theme/site.css"></require>

  <div class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
      <div class="navbar-brand">${message}</h1>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="input-panel">
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">URL</span>
          <input class="form-control" type="text" placeholder="Enter URL here (ex: https://www.bwin.com)" value.bind="urlToParse" aria-describedby="basic-addon1" />
        </div>
      </div>
      <button class="btn btn-default" click.delegate="parseUrl()">Analyse web page</button>
    </div>

    <div if.bind="error" class="alert alert-danger" role="alert">
      ${error.statusCode} - ${error.error}
      <p><i>${error.message}</i></p>
    </div>

    <table if.bind="result" class="table table-condensed">
      <tr>
        <td class="active">Document HTML version</td>
        <td>${result.htmlVersion}</td>
      </tr>
      <tr>
        <td class="active">Page title</td>
        <td>${result.pageTitle}</td>
      </tr>
      <tr class="active">
        <td colspan="2">Number of heading in the document</td>
      </tr>
      <tr repeat.for="heading of result.headings">
        <td>${heading.name}</td>
        <td><span class="badge">${heading.count}</span></td>
      </tr>
      <tr class="active">
        <td colspan="2">Number of links in the document</td>
      </tr>
      <tr>
        <td>Internal links</td>
        <td><span class="badge">${result.internalLinksCount}</span></td>
      </tr>
      <tr>
        <td>External links</td>
        <td><span class="badge">${result.externalLinksCount}</span></td>
      </tr>
      <tr>
        <td>Inaccessible links</td>
        <td><span class="badge">${result.inaccessibleLinksCount}</span></td>
      </tr>
      <tr class="active">
        <td colspan="2" if.bind="result.hasLoginForm">Document contains login form.</td>
        <td colspan="2" if.bind="!result.hasLoginForm">Document does not contain login form.</td>
      </tr>
    </table>
  </div>

  <footer class="footer">
    <p class="text-muted">Nenad Vićentić</p>
  </footer>
</template>