﻿@import '../../node_modules/bootstrap/less/variables.less';
@import '../../node_modules/bootstrap/less/bootstrap.less';

@import 'https://fonts.googleapis.com/css?family=Roboto';

html {
    position: relative;
    min-height: 100%;
}
body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    margin-top: 60px;
    margin-bottom: 60px;
}
.input-panel {
    padding-top: 10px;
    padding-bottom: 10px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
    padding: 20px;
}

